.cursor/rules/strict-tags.mdc
.idea/.gitignore
.idea/Cost_of_ageing.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/main.cpython-312.pyc
