.cursor/rules/strict-tags.mdc
.idea/.gitignore
.idea/Cost_of_ageing.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/main.cpython-312.pyc
__pycache__/
*.pyc
*.pyo
*$py.class
Interface (via Notebooks)/PS8.ipynb
Interface (via Notebooks)/paper2.ipynb
Interface (via Notebooks)/Paper.ipynb